@font-face
{
	font-family: 'a';
	src:url('font/Pacifico/Pacifico-Regular.ttf');
}
@font-face
{
	font-family: 'b';
	src:url('font/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf');
}
@font-face
{
	font-family: 'c';
	src:url('font/Exo/Exo-Light.ttf');
}